:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    display: grid;
    width: 400px;
    height: 400px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 1px solid #000;
    background: #fff;
}

.square {
    border: 1px solid red;
}

